        <header role="banner" class="transparent light">
            <div class="row">
                <div class="nav-inner row-content buffer-left buffer-right even clear-after">
                    <div id="brand">
                        <h1 class="reset"><a href="?route=users/myfeed">CrowdPress</a></h1>
                    </div><!-- brand -->
                    <a id="menu-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
                    <nav>
                        <ul class="reset" role="navigation">
                            <li class="menu-item">
                                <a href="?route=users/myfeed">My Feed</a>
                            </li>
                            <li class="menu-item">
                                <a href="?route=pages/newrelease">NewRelease</a>
                            </li>
                            <li class="menu-item">
                                <a href="?route=pages/scrap">Scrap</a>
                            </li>
                            <li class="menu-item">
                                <a href="?route=users/profile_user/<?php h( $_SESSION["user"] ); ?>">My Page</a>
                            </li>
                            <li class="menu-item">
                                <a href="">設定</a>
                                <ul class="sub-menu">
                                    <li><a href="?route=users/setting">アカウント設定</a></li>
                                    <li><a href="?route=users/logout">ログアウト</a></li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a><i class="fa fa-bell"></i></a>
                                <ul class="sub-menu">
                                    <li><a>通知はありません</a></li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <div class="widget widget_search">
                                    <form id="user_search" role="search" action="?route=users/user_search_by_keyword/" method="post">
                                        <span class="pre-input"><i class="fa fa-search"></i></span>
                                        <input type="text" name="keyword" placeholder="ユーザー検索..." value="<?php if ( isset($user_search_keyword)) { h ($user_search_keyword); } ?>" class="plain buffer">
                                        <input type="hidden" name="token" value="<?php h($_SESSION['token']); ?>">
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div><!-- row-content -->
            </div><!-- row -->
        </header>
