        <header role="banner" class="transparent light">
            <div class="row">
                <div class="nav-inner row-content buffer-left buffer-right even clear-after">
                    <div id="brand">
                        <h1 class="reset"><a href="index.php">CrowdPress</a></h1>
                    </div><!-- brand -->
                    <a id="menu-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
                    <nav>
                        <ul class="reset" role="navigation">
                            <li class="menu-item">
                                <a href="?route=pages/newrelease">NewRelease</a>
                            </li>
                            <li class="menu-item">
                                <a href="?route=authentications/authenticatewith/facebook">ログイン</a>
                            </li>
                        </ul>
                    </nav>
                </div><!-- row-content -->
            </div><!-- row -->
        </header>
