<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="CrowdPressとは">
<style type="text/css">@-ms-viewport{width: device-width;}</style>
<link rel="stylesheet" href="application/public/css/layers.min.css" media="screen">
<link rel="stylesheet" href="application/public/css/style.css" media="screen">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
<link rel="icon" href="application/public/img/favicon.ico">
<title>CrowdPress</title>
</head>
<body class="page">
<?php if( isset( $error_message ) ) h( $error_message ); ?>
<?php if( isset( $_SESSION["user"]  ) ){
  include("application/views/common/header.html");
}
else{
  include("application/views/common/header_before_login.html");
} ?>

<main role="main">
            <div id="intro-wrap">
                <div id="intro" class="preload darken" data-autoplay="5000" data-navigation="false" data-pagination="true" data-transition="fadeUp">
                    <div class="intro-item" style="background-image: url(application/public/img/top/1.jpg);">
                        <div class="caption">
                            <h2>あなただけの新聞を発行しよう</h2>
                            <?php if( !isset( $_SESSION["user"] ) ): ?>
                                <a href="?route=authentications/authenticatewith/facebook" class="button white transparent login-btn before-login-element">Facebookではじめる（無料）</a>
                            <?php endif; ?>
                            <?php if( isset( $_SESSION["user"] ) ): ?>
                                <a href="?route=pages/newrelease" class="button white transparent login-btn before-login-element">新着リリースを見てみよう</a>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div class="intro-item" style="background-image: url(application/public/img/top/2.jpg);">
                        <div class="caption">
                            <h2>誰かの色眼鏡がかかっていない一次情報を届けます</h2>
                            <p>ニュースになる前の情報をあなたに届けます。<br>今まで見ることのなかった情報に出会えるかもしれません。</p>
                        </div>
                    </div>
                    <div class="intro-item" style="background-image: url(application/public/img/top/3.jpg);">
                        <div class="caption">
                            <h2>あなたが新聞記者</h2>
                            <p>タイムラインに流れてきた一次情報を元に、あなたなりの論評を加え、新聞を発行してみましょう。<br>あなたの意見が新たなアイデアを生み出すかもしれません。</p>
                        </div>
                    </div>
                    <div class="intro-item" style="background-image: url(application/public/img/top/4.jpg);">
                        <div class="caption">
                            <h2>使い方はいろいろ</h2>
                            <p>セルフブランディングに使ってもよし。<br>
                            ディスカッションの場にしてもよし。<br>
                            情報を得て、情報を整理する場にすることも可能です。<br>
                            ブログとして使い、あなたの意見を記録するのもいいですね。</p>
                        </div>
                    </div>
                </div><!-- intro -->
            </div><!-- intro-wrap -->
</main><!-- main -->

<?php include("application/views/common/footer.html");?>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="application/public/js/plugins.js"></script>
<script src="application/public/js/beetle.js"></script>
<script src="application/public/js/analyticstracking.js"></script>
</body>
</html>
