<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="CrowdPressとは">
<style type="text/css">@-ms-viewport{width: device-width;}</style>
<link rel="stylesheet" href="application/public/css/style.css" media="screen">
<link rel="stylesheet" href="application/public/css/layers.min.css" media="screen">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
<link rel="icon" href="application/public/img/favicon.ico">
<title>MyPage - CrowdPress</title>
</head>

<body class="blog masonry-style">
<?php if( isset( $error_message ) ) echo $error_message; ?>

<?php if( isset( $_SESSION["user"]  ) ){
  include("application/views/common/header.html");
}
else{
  include("application/views/common/header_before_login.html");
} ?>

        <main>
            <div id="main" class="row">
                <div class="row-content buffer clear-after">
                    <!-- 繰り返しスタート-->
                    <?php foreach ($paper_data as $paper) { ?>
                    <div class="myfeed-wrapper">
                        <article role="main">
                            <div class="question_image column inline-block"><img src="<?php echo $paper["photo_url"]; ?>" alt="ユーザー設定画像"/></div>
                            <div class="colmn inline-block">
                                <h5 class="meta-post"><a href="?route=users/profile_user/<?php echo $paper["user_id"]; ?>"><?php echo $paper["upapername"]; ?>第<?php echo $paper["count"]; ?>号</a> - <time datetime="<?php echo $paper["created_at"]; ?>"><?php echo $paper["created_at"]; ?></time></h5>
                            </div>
                            <section class="myfeed" class="row section">
                                <h2 class="paper-subtitle"><?php echo $paper["headline"]; ?></h2>
                                <div class="release-article">
                                    <p class="release">
                                    <?php echo $paper["comment"]; ?>
                                    …<a class="full-paper" href="?route=pages/display_paper/<?php echo $paper["id"]; ?>">この新聞を読む</a>
                                    </p>
                                    <figure class="column half">
                                        <img src="<?php echo $paper["img1"]; ?>">
                                        <figcaption><a href="?route=pages/release_detail/<?php echo $paper["rid"]; ?>"><?php echo $paper["title"]; ?></a></figcaption>
                                    </figure>
                                    <figure class="column half">
                                        <figcaption>ユーザー設定画像</figcaption>
                                    </figure>
                                </div>
                            <div class="widget meta-social column half">
                                <ul class="inline">
                                    <li><a class="paper-comment-toggle border-box"><i class="fa fa-comment-o fa-lg"></i></a></li>
                                    <li><a class="clap border-box" pid="<?php echo $paper["id"]; ?>"><i class="fa fa-heart-o fa-lg"></i></a><span class="arrow_box"><?php echo $paper["clap"]; ?></span></li>
                                    <li><a class="scrap border-box" pid="<?php echo $paper["id"]; ?>"><i class="fa fa-paperclip fa-lg"></i></a><span class="arrow_box"><?php echo $paper["scrap"]; ?></span></li>
                                </ul>
                            </div>
                            <!-- 自分のコメントここから -->
                            <form class="paper-comment" style="display:none" action="?route=pages/paper_comment_insert" method="post">
                                <input type="hidden" name="paper_id" value="<?php echo $paper["id"]; ?>" />
                                <input type="hidden" name="user_id" value="<?php echo $_SESSION["user"]; ?>" />
                                <input type="text" name="comment" value="新聞にコメントする" />
                            </form>
                            <!-- コメント表示 -->
                            <?php if(is_array($release_comment_data[$paper["id"]])){ ; ?>
                            <?php foreach ($release_comment_data[$paper["id"]] as $release_comment) { ?>
                            <section class="line_wrapper">
                                <div class="question_Box inline">
                                    <div class="question_image column inline-block">
                                    <a href="?route=users/profile_user/<?php echo $release_comment["id"]; ?>">
                                        <img src="<?php echo $release_comment["photo_url"]; ?>" alt="ユーザーの写真"/>
                                    </a>
                                    </div>
                                    <p class="arrow_question column ten reset inline-block">
                                    <?php echo $release_comment["comment"] ; ?>
                                    </p><!-- /.arrow_question -->
                                </div><!-- /.question_Box -->
                                <div class="clear"></div>
                            </section><!-- /.line_wrappaer -->
                            <?php } ?>
                            <?php } ?>
                            <!-- コメント表示ここまで -->
                            </section>
                        </article>
                    </div><!-- post-area -->
                    <?php } ?><!-- 繰り返し終わり -->

                        <div id="pagination">
                        <ul class="clear-after reset plain">
                            <li id="older" class="pagination-nav"><a href="#" class="button transparent aqua"><i class="fa fa-chevron-left"></i><span class="label">戻る</span></a></li>
                            <li id="newer" class="pagination-nav"><a href="#" class="button transparent aqua"><span class="label">次へ</span><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div><!-- row-content -->
            </div><!-- row -->
        </main><!-- main -->

<?php include("application/views/common/footer.html");?>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="application/public/js/plugins.js"></script>
<script src="application/public/js/beetle.js"></script>
<script src="application/public/js/analyticstracking.js"></script>

<script>
$('.paper-comment-toggle').click(function(){
    $(this).parent().parent().parent().nextAll('.paper-comment').toggle(300);
});
var long = '90%';
var short = '50%';
//フォーカス時にアニメーションエフェクトでサイズを広げる
$('.paper-comment input').focus(function(){
    if($(this).val()==='新聞にコメントする'){
        $(this).val('');
    }
    //animate the box
    $(this).animate({
        width: long},400);
});
//外れたときはサイズを縮める
$('.paper-comment input').blur(function(){
    if($(this).val()===''){
        $(this).val('新聞にコメントする');
    }
    $(this).animate({
        width: short},500);
});

$('.clap').on('click', function() {
    var pid = $(this).attr("pid");
    var clap = $(this).next();
    var data = {
        'user_id' : 0,
        'pid': pid
    };

    jQuery.ajax({
        type:"POST",
        url: "?route=pages/paper_clap_insert",
        dataType: "json",
        data: data,
        success: function(data, dataType) {   // OK時
            // JSON Arrayの先頭が成功フラグ、失敗の場合2番目がエラーメッセージ
            // if (!json_data[0]) {    // サーバが失敗を返した場合
            //     console.log(json_data);
            //     alert("Transaction error. " + json_data[1]);
            //     return;
            // }
            // 成功時処理
            clap.html(data[0]);
        },
        error: function() {         // HTTPエラー時
            alert("ログインしてください！");
        },
        complete: function() {      // 成功・失敗に関わらず通信が終了した際の処理
        }
    });
});

$('.scrap').on('click', function() {
    var pid = $(this).attr("pid");
    var scrap = $(this).next();
    var data = {
        'user_id' : 0,
        'pid': pid
    };

    jQuery.ajax({
        type:"POST",
        url: "?route=pages/paper_scrap_insert",
        dataType: "json",
        data: data,
        success: function(data, dataType) {   // OK時
            // JSON Arrayの先頭が成功フラグ、失敗の場合2番目がエラーメッセージ
            // if (!json_data[0]) {    // サーバが失敗を返した場合
            //     console.log(json_data);
            //     alert("Transaction error. " + json_data[1]);
            //     return;
            // }
            // 成功時処理
            // alert(data);
            scrap.html(data[0]);
        },
        error: function() {         // HTTPエラー時
            alert("ログインしてください！");
        },
        complete: function() {      // 成功・失敗に関わらず通信が終了した際の処理
        }
    });
});
</script>

</body>
</html>
