<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="CrowdPressとは">
<style type="text/css">@-ms-viewport{width: device-width;}</style>
<link rel="stylesheet" href="application/public/css/layers.min.css" media="screen">
<link rel="stylesheet" href="application/public/css/style.css" media="screen">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
<link rel="icon" href="application/public/img/favicon.ico">
<title><?php h( $user_data["upapername"] ); ?> - CrowdPress</title>
</head>

<body class="blog masonry-style">
<?php if( isset( $error_message ) ) h( $error_message ); ?>

<?php include("application/controllers/home.php"); $home = new home; $home->get_header();?>

			<div id="intro-wrap">
				<div id="intro" class="preload darken" data-autoplay="5000" data-navigation="true" data-pagination="true" data-transition="fadeUp">
					<div class="intro-item" style="background-image: url(<?php h( $user_data["cover_url"] ); ?>);">
						<div class="caption">
                            <div class="user-thumb">
							<img src="<?php h( $user_data["photo_url"] ); ?>">
                            </div>
							<h2 id="paper_name"><?php h( $user_data["upapername"] ); ?></h2>
                            <h5 class="user_name">
                                <?php h( $user_data["display_name"] ); ?>
                            </h5>
							<p id="paper_explain"><?php h( $user_data["paper_explain"] ); ?></p>
                            <?php if( isset( $_SESSION["user"] ) ): ?>
                            <?php if( $_SESSION["user"] == $user_data["id"] ){
                                //自分見た時
                                echo "<button id=\"user_info_change_top\" class=\"button white transparent\"onClick=\"location.href='?route=users/setting'\" >編集する</button>";
                            }
                            else{
                                //他人が見た時→更に状態によって購読解除になるようにする
                                echo "<button id=\"user_follow\" class=\"button white transparent\" user_id =\"";
                                h ( $user_data["id"] );
                                echo "\">";
                                h ( $follow_status );
                                echo "</button>";
                            } ?>
                            <?php endif; ?>
							<div class="widget meta-social text-light">
								<ul class="inline">
									<li><a href="<?php h( $user_data["facebook_url"] ); ?>" class="facebook-share border-box"><i class="fa fa-facebook fa-lg"></i></a></li>
									<li><a href="<?php h( $user_data["twitter_url"] ); ?>" class="twitter-share border-box"><i class="fa fa-twitter fa-lg"></i></a></li>
									<li><a href="<?php h( $user_data["website_url"] ); ?>" class="flickr-share border-box"><i class="fa fa-home fa-lg"></i></a></li>
									<li><a href="mailto:<?php h( $user_data["email"] ); ?>?subject=CrowdPressから送信" class="gplus-share border-box"><i class="fa fa-envelope-o fa-lg"></i></a></li>
								</ul>
							</div>

							<div class="column fourth">
									<div class="count"><a href="?route=users/profile/<?php h( $user_data["id"] ); ?>"><span class="publish_paper_number"><?php h( $user_data["publish_paper"] ); ?></span></a></div>
									<div class="txt">新聞発行数</div>
							</div>
							<div class="column fourth">
									<div class="count"><a href="?route=users/profile_user_scrap/<?php h( $user_data["id"] ); ?>"><?php h( $user_data["scrap"] ); ?></a></div>
									<div class="txt">スクラップ</div>
							</div>
							<div class="column fourth">
									<div class="count follow"><a href="?route=users/profile_user_following/<?php h( $user_data["id"] ); ?>"><?php h( $user_data["follow"] ); ?></a></div>
									<div class="txt">購読数</div>
							</div>
							<div class="column fourth last">
									<div class="count"><a href="?route=users/profile_user_follower/<?php h( $user_data["id"] ); ?>"><span class="follower"><?php h( $user_data["follower"] ); ?></span></a></div>
									<div class="txt">購読者数</div>
							</div>

						</div><!-- caption -->
					</div>
				</div><!-- intro -->
			</div><!-- intro-wrap -->

			<div id="main" class="row">
                <div class="row-content buffer clear-after">
                    <div id ="release_body">
                    <!-- 繰り返しスタート-->
                    <?php if ( !$paper_data ): ?>
                        <?php if( $_SESSION["user"] == $user_data["id"] ): ?>
                            <h2 style="text-align: center">まだ最初の新聞を発行していません</h2>
                            <p style="text-align: center"><a href="?route=pages/newrelease">NewRelease</a>をScrapして新聞を発行しましょう</p>
                        <?php else: ?>
                            <h2 style="text-align: center">新聞を発行していません</h2>
                        <?php endif; ?>
                    <?php endif; ?>
                    <?php foreach ($paper_data as $paper) { ?>
                    <div class="myfeed-wrapper <?php h( $paper["id"] ); ?>">
                        <article role="main">
                            <div class="question_image column inline-block"><a href="?route=users/profile_user/<?php h( $paper["user_id"] ); ?>"><img src="<?php h( $paper["photo_url"] ); ?>" alt="プロフィール画像"/></a></div>
                            <div class="colmn inline-block">
                                <h5 class="meta-post"><a href="?route=pages/display_paper/<?php h( $paper["id"] ); ?>"><?php h( $paper["upapername"] ); ?>第<?php h( $paper["count"] ); ?>号</a> - <time datetime="<?php h( $paper["created_at"] ); ?>"><?php h( $paper["created_at"] ); ?></time></h5>
                            </div>
                            <section class="myfeed" class="row section">
                                <h2 class="paper-subtitle"><?php h( $paper["headline"] ); ?></h2>
                                <div class="release-article">
                                    <p class="release">
                                    <?php h( $paper["comment"] ); ?>
                                    …<a class="full-paper" href="?route=pages/display_paper/<?php h( $paper["id"] ); ?>">この新聞を読む</a>
                                    </p>
                                    <figure class="column half">
                                        <?php
                                            if( !empty($paper['img1']) ) {
                                                echo '<img src="';
                                                h( $paper['img1'] );
                                                echo '">';
                                            }
                                        ?>
                                        <figcaption><a href="?route=pages/release_detail/<?php h( $paper["rid"] ); ?>"><?php h( $paper["title"] ); ?></a></figcaption>
                                    </figure>
                                    <figure class="column half">
                                        <figcaption>ユーザー設定画像</figcaption>
                                    </figure>
                                </div>
                            <div class="widget meta-social column nine">
                                <ul class="inline">
                                    <li><a class="paper-comment-toggle border-box"><i class="fa fa-comment-o fa-lg"></i></a></li>
                                    <li><a class="clap border-box" pid="<?php h( $paper["id"] ); ?>"><i class="fa fa-heart-o fa-lg"></i></a><span class="arrow_box"><?php h( $paper["clap"] ); ?></span></li>
                                    <li><a class="scrap border-box" pid="<?php h( $paper["id"] ); ?>"><i class="fa fa-paperclip fa-lg"></i></a><span class="arrow_box"><?php h( $paper["scrap"] ); ?></span></li>
                                    <?php if( isset( $_SESSION["user"] ) ): ?>
                                        <?php if( $_SESSION["user"] == $paper["user_id"] ): ?>
                                            <li><a class="remove" pid="<?php h( $paper["id"] ); ?>" token="<?php h($_SESSION['token']); ?>"><i class="fa fa-times fa-lg"></i></a></li>
                                        <?php endif; ?>
                                    <?php endif; ?>

                                </ul>
                            </div>
                            <!-- 自分のコメントここから -->
                            <form class="paper-comment" style="display:none" action="?route=pages/paper_comment_insert" method="post">
                                <input type="hidden" name="paper_id" value="<?php h( $paper["id"] ); ?>" />
                                <input type="hidden" name="user_id" value="<?php h( $_SESSION["user"] ); ?>" />
                                <input type="hidden" name="token" value="<?php h($_SESSION['token']); ?>">
                                <input type="text" name="comment" value="新聞にコメントする" />
                            </form>
                            <!-- コメント表示 -->
                            <?php if(is_array($release_comment_data[$paper["id"]])){ ; ?>
                            <?php foreach ($release_comment_data[$paper["id"]] as $release_comment) { ?>
                            <section class="line_wrapper">
                                <div class="question_Box inline">
                                    <div class="question_image column inline-block">
                                        <img src="<?php h( $release_comment["photo_url"] ); ?>" alt="ユーザーの写真"/>
                                    </div>
                                    <p class="arrow_question column ten reset inline-block">
                                    <?php h( $release_comment["comment"] ) ; ?>
                                    </p><!-- /.arrow_question -->
                                    <div>
                                        <h5 class="username"><a href="?route=users/profile_user/<?php h( $release_comment["id"] ); ?>"><?php h( $release_comment["display_name"] ); ?></a></h5>
                                    </div>
                                </div><!-- /.question_Box -->
                                <div class="clear"></div>
                            </section><!-- /.line_wrappaer -->
                            <?php } ?>
                            <?php } ?>
                            <!-- コメント表示ここまで -->
                            </section>
                        </article>
                    </div><!-- post-area -->
                    <?php } ?><!-- 繰り返し終わり -->
                    </div><!-- release_body -->
                    <div id="loading"></div>
                </div><!-- row-content -->
            </div><!-- row -->
        </main><!-- main -->
    <userdata id="userdata" userid="<?php h($user_data["id"]);?>">

<?php include("application/views/common/footer.html");?>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="application/public/js/plugins.js"></script>
<script src="application/public/js/beetle.js"></script>
<script src="application/public/js/analyticstracking.js"></script>
<script src="application/public/js/jquery.editable.min.js"></script>
<script src="application/public/js/jquery.bottom-1.0.js"></script>
<script src="application/public/js/loaduserprofile.js"></script>
<script src="application/public/js/notification.js"></script>


<script>
$('.paper-comment-toggle').click(function(){
    $(this).parent().parent().parent().nextAll('.paper-comment').toggle(300);
});
var long = '90%';
var short = '50%';
//フォーカス時にアニメーションエフェクトでサイズを広げる
$('.paper-comment input').focus(function(){
    if($(this).val()==='新聞にコメントする'){
        $(this).val('');
    }
    //animate the box
    $(this).animate({
        width: long},400);
});
//外れたときはサイズを縮める
$('.paper-comment input').blur(function(){
    if($(this).val()===''){
        $(this).val('新聞にコメントする');
    }
    $(this).animate({
        width: short},500);
});

//新聞削除
$('.remove').on('click', function() {
    var pid = $(this).attr("pid");
    var token = $(this).attr("token");
    var data = {
        'user_id': 0,
        'pid': pid,
        'token': token
    };

    ret = confirm("削除します。よろしいですか？");
    if (ret === true){
    jQuery.ajax({
        type:"POST",
        url: "?route=pages/paper_remove",
        dataType: "json",
        data: data,
        success: function(data, dataType) {   // OK時
            $("." + pid).remove();
            $(".publish_paper_number").html( data[0] );
        },
        error: function() {         // HTTPエラー時
            for(var key in data){
                alert(key +" : "+data[key]);
            }
        },
        complete: function() {      // 成功・失敗に関わらず通信が終了した際の処理
        }
    });
    }
});

$('#user_follow').on('click', function() {
    var follow_status = $('#user_follow');
    var user_id = $(this).attr("user_id");
    var follower = $('.follower');
    var data = {
        'user_id' : user_id,
        'follower_id': 0
    };

    jQuery.ajax({
        type:"POST",
        url: "?route=users/following",
        dataType: "json",
        data: data,
        success: function(data, dataType) {   // OK時
            follower.html(data[0]);
            follow_status.html(data[1]);
        },
        error: function() {         // HTTPエラー時
            alert("ログインしてください！");
        },
        complete: function() {      // 成功・失敗に関わらず通信が終了した際の処理
        }
    });
});

    // $(function(){
    //     var option1 = {trigger : $("#user_info_change_top"), action : "click"};
    //     var option2 = {trigger : $("#user_info_change_top"), action : "click"};
    //     var option3 = {trigger : $("#user_info_change_top"), action : "click"};
    //     var option4 = {trigger : $("#user_info_change_top"), action : "click"};
    //     $("#first_name").editable(option1, function(e){
    //       if(e.value===''){
    //         $("#first_name").html(e.old_value);
    //         alert("名前を入力してください");
    //       }
    //     });

    //     $("#last_name").editable(option2, function(e){
    //       if(e.value===''){
    //         $("#last_name").html(e.old_value);
    //         alert("名前を入力してください");
    //       }
    //     });

    //     $("#paper_name").editable(option3, function(e){
    //       if(e.value===''){
    //         $("#paper_name").html(e.old_value);
    //         alert("新聞名を入力してください");
    //       }
    //     });

    //     $("#paper_explain").editable(option4, function(e){
    //       if(e.value===''){
    //         $("#paper_explain").html(e.old_value);
    //         alert("新聞の説明を値を入力してください");
    //       }
    //     });
    //   });

    jQuery("button#user_info_change_top_determine").click(function() {

    var button = $(this);
    var data = {
        'user_id' : 0,
        'first_name': jQuery("#first_name").text(),
        'last_name': jQuery("#last_name").text(),
        'upapername': jQuery("#paper_name").text(),
        'paper_explain': jQuery("#paper_explain").text()
    };

    jQuery.ajax({
        type:"POST",
        url: "?route=users/update_mypage",
        data: data,
        success: function(data, dataType) {   // OK時
            // JSON Arrayの先頭が成功フラグ、失敗の場合2番目がエラーメッセージ
            // if (!json_data[0]) {    // サーバが失敗を返した場合
            //     console.log(json_data);
            //     alert("Transaction error. " + json_data[1]);
            //     return;
            // }
            // 成功時処理
            alert(data);
            location.reload();
        },
        error: function() {         // HTTPエラー時
            alert("Server Error. Pleasy try again later.");
        },
        complete: function() {      // 成功・失敗に関わらず通信が終了した際の処理
        }
    });
});

$('.clap').on('click', function() {
    var pid = $(this).attr("pid");
    var clap = $(this).next();
    var data = {
        'user_id' : 0,
        'pid': pid
    };

    jQuery.ajax({
        type:"POST",
        url: "?route=pages/paper_clap_insert",
        dataType: "json",
        data: data,
        success: function(data, dataType) {   // OK時
            // JSON Arrayの先頭が成功フラグ、失敗の場合2番目がエラーメッセージ
            // if (!json_data[0]) {    // サーバが失敗を返した場合
            //     console.log(json_data);
            //     alert("Transaction error. " + json_data[1]);
            //     return;
            // }
            // 成功時処理
            clap.html(data[0]);
        },
        error: function() {         // HTTPエラー時
            alert("ログインしてください！");
        },
        complete: function() {      // 成功・失敗に関わらず通信が終了した際の処理
        }
    });
});

$('.scrap').on('click', function() {
    var pid = $(this).attr("pid");
    var scrap = $(this).next();
    var data = {
        'user_id' : 0,
        'pid': pid
    };

    jQuery.ajax({
        type:"POST",
        url: "?route=pages/paper_scrap_insert",
        dataType: "json",
        data: data,
        success: function(data, dataType) {   // OK時
            // JSON Arrayの先頭が成功フラグ、失敗の場合2番目がエラーメッセージ
            // if (!json_data[0]) {    // サーバが失敗を返した場合
            //     console.log(json_data);
            //     alert("Transaction error. " + json_data[1]);
            //     return;
            // }
            // 成功時処理
            // alert(data);
            scrap.html(data[0]);
        },
        error: function() {         // HTTPエラー時
            alert("ログインしてください！");
        },
        complete: function() {      // 成功・失敗に関わらず通信が終了した際の処理
        }
    });
});
</script>

</body>
</html>
