<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="CrowdPressとは">
<style type="text/css">@-ms-viewport{width: device-width;}</style>
<link rel="stylesheet" href="application/public/css/layers.min.css" media="screen">
<link rel="stylesheet" href="application/public/css/style.css" media="screen">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
<link rel="icon" href="application/public/img/favicon.ico">
<title>404 存在しないページです - CrowdPress</title>
</head>

<body class="blog masonry-style">
<?php if( isset( $error_message ) ) echo $error_message; ?>

<?php include("application/controllers/home.php"); $home = new home; $home->get_header();?>

        <main>
            <div id="main" class="row">
                <div class="row-content buffer-left buffer-right buffer-bottom clear-after">
                <h1>404 存在しないページです</h1>
                </div><!-- row-content -->
            </div><!-- row -->
        </main><!-- main -->

<?php include("application/views/common/footer.html");?>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="application/public/js/plugins.js"></script>
<script src="application/public/js/beetle.js"></script>
<script src="application/public/js/analyticstracking.js"></script>

</body>
</html>
