<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="CrowdPressとは">
<style type="text/css">@-ms-viewport{width: device-width;}</style>
<link rel="stylesheet" href="application/public/css/layers.min.css" media="screen">
<link rel="stylesheet" href="application/public/css/style.css" media="screen">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
<link rel="icon" href="application/public/img/favicon.ico">
<title>プライバシーポリシー - CrowdPress</title>
</head>

<body>
<?php if( isset( $error_message ) ) h( $error_message ); ?>

<?php if( isset( $_SESSION["user"]  ) ){
  include("application/views/common/header.html");
}
else{
  include("application/views/common/header_before_login.html");
} ?>

<main>
<div id="main" class="row">
<div class="row-content buffer clear-after">

<iframe src="https://docs.google.com/a/alue.co.jp/document/d/14zdyKwgUA8YpwjYo2tXaJQbpUoUoMHtP6R4dD8Lyxbg/pub?embedded=true"
    width="600"
    height="500"
    style="border:none;"></iframe>
</body>

</div>
</div>

<?php include("application/views/common/footer.html");?>


<script src="https://code.jquery.com/jquery.js"></script>
<script src="application/public/js/plugins.js"></script>
<script src="application/public/js/beetle.js"></script>
<script src="application/public/js/analyticstracking.js"></script>

</html>
