<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="CrowdPressとは">
<style type="text/css">@-ms-viewport{width: device-width;}</style>
<link rel="stylesheet" href="application/public/css/layers.min.css" media="screen">
<link rel="stylesheet" href="application/public/css/style.css" media="screen">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
<link rel="icon" href="application/public/img/favicon.ico">
<title><?php h( $release_detail_data["title"] ) ; ?> - CrowdPress</title>
</head>

<body class="single single-portfolio">
<?php if( isset( $error_message ) ) h( $error_message ); ?>

<?php if( isset( $_SESSION["user"]  ) ){
  include("application/views/common/header.html");
}
else{
  include("application/views/common/header_before_login.html");
} ?>

        <main role="main">
            <div id="main" class="row">
                <div class="row-content buffer-left buffer-right buffer-bottom clear-after">
                    <div id="post-nav">
                        <ul class="clear-after reset plain">
                            <li id="prev-items" class="post-nav"><a href="?route=pages/release_detail/<?php h( $release_detail_data["rid"] - 1); ?>"><i class="fa fa-chevron-left"></i><span class="label hidden-mobile">前の記事</span></a></li>
                            <li id="all-items" class="post-nav"><a href="#comments"><i class="fa fa-arrow-down"></i></a></li>
                            <li id="next-items" class="post-nav"><a href="?route=pages/release_detail/<?php h( $release_detail_data["rid"] + 1); ?>"><span class="label hidden-mobile">次の記事</span><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>

                    <div class="post-area clear-after">
                        <article role="main" class="column nine">
<!--                             <h5 class="meta-post"><a href="#"></a></h5>  -->
                            <a href="<?php h( $release_detail_data["url"] ); ?>" target="_blank"><h1><?php h( $release_detail_data["title"] ); ?></h1></a>
                            <div class="gallery slider" data-autoplay="false" data-autoheight="true">
                                <?php
                                            echo '<figure>';
                                            if( !empty($release_detail_data["img1"]) ) {
                                                echo '<div><img src=';
                                                h( $release_detail_data["img1"] );
                                                echo '></div>';
                                            }
                                            if( !empty($release_detail_data["img2"]) ) {
                                                echo '<div><img src=';
                                                h( $release_detail_data["img2"] );
                                                echo '></div>';
                                            }
                                             if( !empty($release_detail_data["img3"]) ) {
                                                echo '<div><img src=';
                                                h( $release_detail_data["img3"] );
                                                echo '></div>';
                                            }
                                            echo '</figure>';
                                ?>
                            </div><!-- gallery -->
                            <p><?php htag ( $release_detail_data["body"] ) ; ?></p>
                        </article>

                        <aside role="complementary" class="sidebar column three last">
                            <div class="widget">
                                <h4>会社名</h4>
                                <p><a href="?route=pages/release_sort_by_cname/<?php h( $release_detail_data["cname"] ); ?>"><?php h( $release_detail_data["cname"] ); ?></a></p>
                            </div>
                            <div class="widget">
                                <h4>日時</h4>
                                <p><?php h( $release_detail_data["time"] ); ?></p>
                            </div>
                            <div class="widget">
                                <h4>test</h4>
                                <p>test</p>
                            </div>
                            <div class="widget">
                                <h4>test</h4>
                                <p>test</p>
                                <a href="#" class="button transparent">test</a>
                            </div>
                        </aside>

                    </div><!-- post-area -->

                    <div class="meta-social">
                        <ul class="inline center">
                            <li><a class="clap border-box" rid="<?php h( $release_detail_data["rid"] ); ?>"><i class="fa fa-heart-o fa-lg"></i></a><span class="arrow_box"><?php h( $release_detail_data["clap"] ); ?></span></li>
                             <li><a class="scrap border-box" rid="<?php h( $release_detail_data["rid"] ); ?>"><i class="fa fa-paperclip fa-lg"></i></a><span class="arrow_box"><?php h( $release_detail_data["scrap"] ); ?></span></li>
                        </ul>
                    </div>

                    <div class="comment-section">
                        <h3 id="comments"><?php h( $release_comment_number["number"] ); ?> Comments</h3>
                        <ul class="comment-list plain">
                        <?php if (isset($release_comment_data)) { ?>
                        <?php foreach ($release_comment_data as $release_comment) { ?>
                            <li class="comment <?php h( $release_comment["commentid"] ) ?>">
                                <div class="single-comment">
                                    <div class="comment-author">
                                        <img src="<?php h( $release_comment["photo_url"] ); ?>" class="avatar" alt="">
                                        <cite><a href="?route=users/profile_user/<?php h( $release_comment["id"] ); ?>"><?php h( $release_comment["display_name"] ); ?></a></cite>
                                        <span class="says">says:</span>
                                        <?php if( $_SESSION["user"] == $release_comment["id"] ): ?>
                                        <a class="remove" commentid="<?php h( $release_comment["commentid"] ) ?>" rid="<?php h( $release_detail_data["rid"] ); ?>" token="<?php h($_SESSION['token']); ?>"><i class="fa fa-times"></i></a>
                                        <?php endif; ?>
                                    </div><!-- comment-author -->
                                    <div class="comment-meta">
                                        <time datetime="<?php h( $release_comment["time"] ); ?>"><?php h( $release_comment["time"] ); ?></time> / <a href="#" class="reply">Reply</a>
                                    </div><!-- comment-meta -->
                                    <p><?php h( $release_comment["comment"] ); ?></p>
                                </div><!-- single-comment -->
                            </li>
                        <?php } ?>
                        <?php } ?>
                        </ul>
                    </div><!-- comment-section -->
                    <form class="release-comment" action="?route=pages/release_comment_insert" method="post">
                        <input type="hidden" name="token" value="<?php h($_SESSION['token']); ?>">
                        <input type="hidden" name="rid" value="<?php h( $release_detail_data["rid"] ); ?>" />
                        <input type="hidden" name="user_id" value="<?php h( $_SESSION["user"] ); ?>" />
                        <input type="text" name="comment" value="リリースにコメントする" />
                    </form><!-- post-comment -->

                </div><!-- row-content -->
            </div><!-- row -->
        </main><!-- main -->

<?php include("application/views/common/footer.html");?>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="application/public/js/plugins.js"></script>
<script src="application/public/js/beetle.js"></script>
<script src="application/public/js/analyticstracking.js"></script>
<script>
var long = '90%';
var short = '50%';
//フォーカス時にアニメーションエフェクトでサイズを広げる
$('.release-comment input').focus(function(){
    if($(this).val()==='リリースにコメントする'){
        $(this).val('');
    }
    //animate the box
    $(this).animate({
        width: long},400);
});
//外れたときはサイズを縮める
$('.release-comment input').blur(function(){
    if($(this).val()===''){
        $(this).val('リリースにコメントする');
    }
    $(this).animate({
        width: short},500);
});

//コメント削除
$('.remove').on('click', function() {
    var commentid = $(this).attr("commentid");
    var rid = $(this).attr("rid");
    var token = $(this).attr("token");
    var data = {
        'user_id': 0,
        'commentid': commentid,
        'rid': rid,
        'token': token
    };

    ret = confirm("削除します。よろしいですか？");
    if (ret === true){
    jQuery.ajax({
        type:"POST",
        url: "?route=pages/release_comment_remove",
        dataType: "json",
        data: data,
        success: function(data, dataType) {   // OK時
            $("." + commentid).remove();
            $("#comments").html( data["number"] + " Comments");
        },
        error: function() {         // HTTPエラー時
            alert("ログインしてください！");
        },
        complete: function() {      // 成功・失敗に関わらず通信が終了した際の処理
        }
    });
    }
});

$('.clap').on('click', function() {
    var rid = $(this).attr("rid");
    var clap = $(this).next();
    var data = {
        'user_id' : 0,
        'rid': rid
    };

    jQuery.ajax({
        type:"POST",
        url: "?route=pages/clap_insert",
        dataType: "json",
        data: data,
        success: function(data, dataType) {   // OK時
            // JSON Arrayの先頭が成功フラグ、失敗の場合2番目がエラーメッセージ
            // if (!json_data[0]) {    // サーバが失敗を返した場合
            //     console.log(json_data);
            //     alert("Transaction error. " + json_data[1]);
            //     return;
            // }
            // 成功時処理
            clap.html(data[0]);
        },
        error: function() {         // HTTPエラー時
            alert("ログインしてください！");
        },
        complete: function() {      // 成功・失敗に関わらず通信が終了した際の処理
        }
    });
});

$('.scrap').on('click', function() {
    var rid = $(this).attr("rid");
    var scrap = $(this).next();
    var data = {
        'user_id' : 0,
        'rid': rid
    };

    jQuery.ajax({
        type:"POST",
        url: "?route=pages/scrap_insert",
        dataType: "json",
        data: data,
        success: function(data, dataType) {   // OK時
            // JSON Arrayの先頭が成功フラグ、失敗の場合2番目がエラーメッセージ
            // if (!json_data[0]) {    // サーバが失敗を返した場合
            //     console.log(json_data);
            //     alert("Transaction error. " + json_data[1]);
            //     return;
            // }
            // 成功時処理
            // alert(data);
            scrap.html(data[0]);
        },
        error: function() {         // HTTPエラー時
            alert("ログインしてください！");
        },
        complete: function() {      // 成功・失敗に関わらず通信が終了した際の処理
        }
    });
});
</script>
</body>

</html>
